<mat-card style="width: 350px;margin: 20px auto;">


<!-- 
    Login template using Angular Material
    @author Shashank Tiwari 
-->
 
 
    <!-- Writing markup for login starts -->
        <div class="login-container">
 
            <!-- Template Header starts -->
            <div class="login-box-header">
                <h3>Login Form</h3>
            </div>
            <!-- Template Header ends -->
 
            <!-- Template Body starts -->
            <div class="login-box-body">
 
                <!-- Markup for getting Username starts -->
                <mat-grid-list cols="9" rowHeight="75px">
                    <mat-grid-tile [rowspan]="1" class="login-icon">
                        <mat-icon>lock</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-input-container class="justifier">
                            <input matInput placeholder="Username" text="text">
                        </mat-input-container>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Username ends -->
 
                <!-- Markup for getting Password starts -->
                <mat-grid-list cols="9" rowHeight="100px">
                    <mat-grid-tile [rowspan]="1"  class="login-icon">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-input-container class="justifier">
                            <input matInput placeholder="Password" text="password">
                        </mat-input-container>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Password ends -->
 
                <button md-raised-button class="login-button"  routerLink="../main"> 
                    <mat-icon>input</mat-icon> Login
                </button>
                
            </div>
            <!-- Template Body ends -->
            
        </div>

</mat-card>
