

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true">
  	<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >description</i><b>&nbsp; General</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
		<mat-list>
		  <mat-list-item><button mat-button >Person Registration</button></mat-list-item>
		</mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >people</i><b>&nbsp; Student</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
		<mat-list>
		  <mat-list-item><button mat-button>Student Information</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Student Schedule</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Academic History</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Student Violation</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Survey Questionnaire</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Class Card Monitoring</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Announcement Manager</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Calendar of Activities Manager</button></mat-list-item>
		</mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >subject</i><b>&nbsp; Subject</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

		<mat-list>
		  <mat-list-item><button mat-button>Curriculum Manager</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Codes Manager</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Subject Sets</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Exam Schedule</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Grades Manager</button></mat-list-item>
		</mat-list>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >assignment_turned_in</i><b>&nbsp; Enrollment</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
		<mat-list>
		  <mat-list-item><button mat-button>Placement Manager</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Student Admission</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Student Registration</button></mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item><button mat-button>Enrollment Manager</button></mat-list-item>
		</mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >playlist_add_check</i><b>&nbsp; Graduation</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
		<mat-list>
		  <mat-list-item><button mat-button>Graduating Student Manager</button></mat-list-item>
		</mat-list>
  </mat-expansion-panel>
</mat-accordion>

  </mat-drawer>
  <mat-drawer-content>
  	<div style="margin-left: 10px;margin-top: 8px;" class="hnav">

  	<button mat-raised-button [routerLink]="['../main',{outlets:{div:'home'}}]" color="primary" ><mat-icon>home</mat-icon> Home</button>

  	<button mat-raised-button [matMenuTriggerFor]="acct"  color="primary">
  		<mat-icon>account_circle</mat-icon> My Account<i class="material-icons">arrow_drop_down</i></button>
	<mat-menu #acct="matMenu">
	  <button mat-menu-item>Change Password</button>
	</mat-menu>


  	<button mat-raised-button [matMenuTriggerFor]="view"  color="primary">
  		<mat-icon>pageview</mat-icon> View<i class="material-icons">arrow_drop_down</i></button>
	<mat-menu #view="matMenu">
	  <button mat-menu-item>Enrollment List</button>
	  <button mat-menu-item>Class List</button>
	  <button mat-menu-item>Classroom Schedule</button>
	  <button mat-menu-item>Faculty and Staff</button>
	  <button mat-menu-item>Online Users</button>
	  <button mat-menu-item>Activity Logs</button>
	</mat-menu>

  	<button mat-raised-button [matMenuTriggerFor]="master"  color="primary">
  		<mat-icon>list</mat-icon> Master List<i class="material-icons">arrow_drop_down</i></button>
	<mat-menu #master="matMenu">
	  <button mat-menu-item>Comany Manager</button>
	  <button mat-menu-item>Classroom Manager</button>
	  <button mat-menu-item>Violation Manager</button>
	</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="reports"  color="primary">
  <mat-icon>assignment</mat-icon> Reports <i class="material-icons">arrow_drop_down</i></button>

	<mat-menu #reports="matMenu">
	  <button mat-menu-item [matMenuTriggerFor]="student">Student</button>
	  <button mat-menu-item>Active Curriculum</button>
	  <button mat-menu-item>Code Summary</button>
	  <button mat-menu-item>Enrollment Summary</button>
	  <button mat-menu-item [matMenuTriggerFor]="ched">CHED Reports</button>
	  <button mat-menu-item>Graduation Ranking</button>
	</mat-menu>

	<mat-menu #student="matMenu">
	  <button mat-menu-item>Student Profile Summary</button>
	  <button mat-menu-item>Academic Achievers</button>
	  <button mat-menu-item>List of Married Sudents</button>
	  <button mat-menu-item>Mailing List</button>
	  <button mat-menu-item>Mailing List for Transferees</button>
	  <button mat-menu-item>School Graduated From</button>
	  <button mat-menu-item>Violation Summary</button>
	  <button mat-menu-item>Submitted Requirements</button>
	</mat-menu>

	<mat-menu #ched="matMenu">
	  <button mat-menu-item>Enrollment List</button>
	  <button mat-menu-item>NSTP Enrollees</button>
	  <button mat-menu-item>Subject Taught</button>
	</mat-menu>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="appMenu"  color="primary"> 
  <mat-icon>more_vert</mat-icon> More <i class="material-icons">arrow_drop_down</i>
</button></div>
  	<mat-card class="matcontainer">
		<router-outlet name="div"></router-outlet>
  	</mat-card></mat-drawer-content>
</mat-drawer-container>
