<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/logo.png" height="50px">

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button routerLink="main">Services</button>
    <button mat-button routerLink="login">
      <mat-icon>input</mat-icon> Login</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span> Logout</span>
    </button>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer style="position: absolute;z-index: 9999">
  <mat-toolbar color='primary'>
      <p style="font-size: 11px;line-height: 1.3;"> ©2018 Academic Information Management System 2.0<br>
      University of Saint Louis - Tuguegarao City, Cagayan<br>
      Maintained by: CICT.Team</p>
    <span class='spacer'></span>
  </mat-toolbar>
</footer>