/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";


body{
	margin:0;
}

mat-card{
	margin:10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.matcontainer{
	max-height:calc(100vh - 244px);
	min-height:calc(100vh - 244px);
	overflow-y: scroll;
}

.matcontainer p {
	font-size: 14px;
}

.hnav button {
	font-size: 12px;
}

.hnav mat-icon {
	font-size: 20px;
}
.mat-menu-item{
	font-size: 14px;
}