<h3 style="margin-top: 0">
	ACADEMIC INFORMATION MANAGEMENT SYSTEM 2.0
</h3>
<p>
	A comprehensive program that provides robust functionality to manage the Academic Business Processes such as Admission, Course Planning, Resource Allocation (Class Scheduling, Room Assignment), Admission, Enrolment, Class Registration and Evaluation. It provides a centralized data storage that gives authorized users a single source of information through reports to make well-informed academic and operational decisions.
</p>

<mat-card>
	<mat-card-content>
		<h4>*KEY FEATURES:</h4>
		<ul>
			<li>Allows comprehensive tracking of students' demography information, academic history, subjects enrolled and schedules;</li>
			<li>Provides facilities for office staffs and the academic teaching community to maintain data and generate information about students from admission, enrolment and their academic progression in a manner that suits their method of operation;</li>
			<li>Supports the various levels of management (operational, managerial, and strategic) within the University with the provision of appropriate planning and decision support information that are generated through reports from the AcadIMS;</li>
			<li>Complies with internal and external policies and requirements hence supplying accurate data and information for quality assurance purposes;</li>
			<li>It is efficient, secure, user-friendly and scalable increasing efficiency and productivity in the University.</li>
		</ul>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-content>
		<h4>*OBJECTIVES:</h4>
		<ul>
			<li><b>Integration of systems at the operational, managerial and administration level.</b> The AcadIMS aims to provide quality data in a timely fashion through systems that are completely integrated. This will provide opportunities for operational efficiency and a base for decision support activities at various levels.
			Collection of information at the source. The AcadIMS aims to provide facilities for authorized users to enter information into the system directly by using the different modules of the program.</li>
			<li><b>Balance local and institutional information requirements.</b> The AcadIMS aims to address the various administrative and academic objectives of the administration, as well as, provide the necessary support for the institutional level activities conducted by the Registrar's Office, Dean's Offices, Guidance Office and Accounting Office.</li>
			<li><b>Less paper driven SIS systems.</b> By collecting data at the source and providing wider electronic access (particularly to students and faculty), the intention of SIS system is to reduce the paper driven aspects of the existing systems.</li>
			<li><b>Better decision support systems.</b> The AcadIMS aims to provide a well-integrated suite of data to support various decision-making processes around admissions, course scheduling, degree audit, etc.</li>
		</ul>
	</mat-card-content>
</mat-card>